.book {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;*/
    margin: 0em auto;
    background-color: #14171C;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    display: none;
    background-size: cover;
    /* max-height: 75%; */
}
.stf__wrapper {
    overflow-y: hidden;
}
.stf__block {
    overflow: hidden;
}
.page {
    width: auto;
    height: 100%;
    background-color: #14171C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: auto;
    height: 100%;
}
.page-img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
}